body {
  background-color: hsl(0, 0%, 81%);
  margin: 100px;
}
.main-Body {
  position: relative;
}

.daniel {
  position: absolute;
  width: 25%;
  border-radius: 25px;
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(263, 55%, 52%);
}

.jonathan {
  position: absolute;
  right: 100px;
  width: 25%;
  border-radius: 25px;
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(217, 19%, 35%);
}

.harmon {
  width: 25%;
  border-radius: 25px;
  text-align: left;
  padding: 50px;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
}

.kira {
  width: 25%;
  border-radius: 25px;
  text-align: left;
  padding: 50px;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
}

.abras {
  width: 25%;
  border-radius: 25px;
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(219, 29%, 14%);
}

/* images making round */
.daniel-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.jonathan-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.harmon-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.abras-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.kira-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

/* heading */
.heading-danial {
  padding: 0.25px;
  line-height: 0.75%;
}

.heading-jonathan {
  padding: 0.25px;
  line-height: 0.75%;
}

.heading-harmon {
  padding: 0.25px;
  line-height: 0.75%;
}

.heading-abras {
  padding: 0.25px;
  line-height: 0.75%;
}

.heading-kira {
  padding: 0.25px;
  line-height: 0.75%;
}

/* discription */
.dic-daniel {
  margin-top: 50px;
  clear: left;
}

.dic-jonathan {
  margin-top: 50px;
  clear: left;
}

.dic-harmon {
  margin-top: 50px;
  clear: left;
}

.dic-abras {
  margin-top: 50px;
  clear: left;
}

.dic-kira {
  margin-top: 50px;
  clear: left;
}
