body {
  background-color: hsl(0, 0%, 81%);
  margin: 100px;
}

/*
.main-body {
} */
.daniel {
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(263, 55%, 52%);
}

.jonathan {
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(217, 19%, 35%);
}

.harmon {
  text-align: left;
  padding: 50px;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
}

.kira {
  text-align: left;
  padding: 50px;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
}

.abras {
  text-align: left;
  color: white;
  padding: 50px;
  margin: 10px;
  background-color: hsl(219, 29%, 14%);
}

/* images making round */
.daniel-img {
  border-radius: 50%;
  width: 10%;
  float: left;
  margin-right: 30px;
}

.jonathan-img {
  border-radius: 50%;
  width: 10%;
  float: left;
  margin-right: 30px;
}

.harmon-img {
  border-radius: 50%;
  width: 10%;
  float: left;
  margin-right: 30px;
}

.abras-img {
  border-radius: 50%;
  width: 10%;
  float: left;
  margin-right: 30px;
}

.kira-img {
  border-radius: 50%;
  width: 10%;
  float: left;
  margin-right: 30px;
}

.heading-danial {
  line-height: 0.75%;
}

.heading-jonathan {
  line-height: 0.75%;
}

.heading-harmon {
  line-height: 0.75%;
}

.heading-abras {
  line-height: 0.75%;
}

.heading-kira {
  line-height: 0.75%;
}

.dic-daniel {
  margin-top: 50px;
  clear: left;
}

.dic-jonathan {
  margin-top: 50px;
  clear: left;
}

.dic-harmon {
  margin-top: 50px;
  clear: left;
}

.dic-abras {
  margin-top: 50px;
  clear: left;
}

.dic-kira {
  margin-top: 50px;
  clear: left;
}
