h1 {
  font-family: "Montserrat, sans-serif";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 500;
  color: #e3e3e3;
}

#title {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  background-color: white;
}

h1 {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 500;
}

.col-lg-6 {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
}

.condainer-fluid {
  padding: 3% 15%;
}

.top-image {
  margin-top: 3%;
  border-radius: 25px;
}

.anandhu-heading {
  color: #f58634;
  font-size: 5rem;
}

.nav-item {
  padding: 0px 18px;
}

.condact-me-button {
  margin: 5% 3% 5% 0%;
}

.web-dev {
  padding: 5%;
  background-color: white;
  border-radius: 25px;
  line-height: 2rem;
}

.dsa {
  width: inherit;
  padding: 5%;
  background-color: white;
  border-radius: 25px;
  line-height: 2rem;
}

.skills-row {
  width: auto;
}

.webdevimg {
  width: 300px;
  margin: 20px 100px;
  border-radius: 25px;
}

.array {
  width: 255px;
  margin: 20px 100px;
  border-radius: 25px;
}

.webdevheading {
  margin: 20px 100px;
  text-align: center;
  color: #f58634;
  text-shadow: 0.5px 0.5px black;
  font-size: 2.5rem;
}

.dsaheading {
  margin: 20px 100px;
  text-align: center;
  color: #f58634;
  text-shadow: 0.5px 0.5px black;
  font-size: 2.5rem;
}

.skillsheading {
  text-align: center;
}

.skills {
  font-size: 5rem;
  color: #f58634;
  text-shadow: 2px 2px black;
}

.webdevclass {
  text-align: center;
}

.arrayclass {
  text-align: center;
}

.webdevdis {
  text-align: center;
  font-size: 1.5rem;
}

.dsadis {
  text-align: center;
  font-size: 1.5rem;
}

#testimonials {
  text-align: center;
  background-color: #ee6f57;
}

#press {
  background-color: #ee6f57;
  padding-bottom: 2rem;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.me2-img {
  border-radius: 25px;
  width: 25%;
  margin: 20px 20px 0px;
}

.c-logo {
  width: 5rem;
  margin: 20px 20px 50px;
}

.html-logo {
  width: 5rem;
  margin: 20px 20px 50px;
}

.css-logo {
  width: 5rem;
  margin: 20px 20px 50px;
}

.js-logo {
  margin: 20px 20px 50px;
  width: 5rem;
}

.project-img {
  margin: 0px;
  width: 100%;
  border-radius: 25px;
}

.col-lg-3 {
  background-color: #cb3737;
}

.project-heading {
  margin: 0px;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 500;
  background-color: #cb3737;
}

.project-name {
  margin: 0px;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.project-dis {
  padding-bottom: 10px;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.source-file-button {
  margin: 3% 3% 3% 0%;
}

.project-head {
  margin: 35px 35px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  #skills {
    text-align: center;
  }
  .webdevimg {
    margin: auto;
  }
  .array {
    margin: auto;
  }
  .dsaheading {
    margin: 25px 25px;
  }
}

.icons {
  margin: 25px;
}

.social-networks {
  text-align: center;
}

#footer {
  background-color: #ee6f57;
  margin: 0;
}

.last-dis {
  margin: 0;
  padding: 2px;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  color: white;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.row {
  padding: 0 10%;
}
.card:hover {
  background-color: #f7f7e8;
}
