h1 {
  font-family: "Montserrat, sans-serif";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  background-color: white;
}
h1 {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 500;
}

.col-lg-6 {
  font-family: "Yusei Magic", sans-serif;
  line-height: 1.5;
}

.condainer-fluid {
  padding: 3% 15%;
}

.top-image {
  margin-top: 3%;
}

.anandhu-heading {
  color: #f58634;
  font-size: 5rem;
}

.nav-item {
  padding: 0px 18px;
}

.condact-me-button {
  margin: 5% 3% 5% 0%;
}

.web-dev {
  padding: 5%;
  background-color: #f7f7e8;
  border-radius: 25px;
  line-height: 2rem;
}

.dsa {
  width: inherit;
  padding: 5%;
  background-color: #c7cfb7;
  border-radius: 25px;
  line-height: 2rem;
}
