<%- include("partials/header"); -%>
    <div class="container">
        <h1>Compose</h1>
        <form action="/compose" method="post">
            <div class="mb-3">
                <label for="Title" class="form-label"><h3>Title</h3></label>
                <input type="text" class="form-control" name="postTitle" />
            </div>
            <div class="mb-3">
                <label for="condent" class="form-label"><h3>Post</h3></label>
                <textarea class="form-control" rows="7" name="postContent"></textarea>
            </div>
            <button class="btn btn-primary button-publish" type="submit">
      Publish
    </button>
        </form>
    </div>

    <%- include("partials/footer"); -%>