<%- include("partials/header"); -%>
    <div class="container">
        <h1>
            <%= postHeading %>
        </h1>
        <p>
            <%= postContent %>
        </p>
    </div>
    <%- include("partials/footer"); -%>